@use "../../sass/mixins.scss" as *;
.searchlist {
  background-color: var(--color-gray-500);
  &-container {
    padding-top: 5rem;
    @include mobile {
      & {
        padding-top: 0;
      }
    }
  }
}
