@use "../../sass/mixins.scss" as *;
.searchbar {
  display: flex;
  margin-left: 20vw;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.25rem;
  @include mobile {
    & {
      border-right: none;
      margin: 0;
      border: none;
    }
  }
  &__input {
    width: 20rem;
    height: 2rem;
    font-size: 1rem;
    padding: 0 0.5rem;
    border: none;
    border-radius: 0.25rem;
    @include mobile {
      & {
        width: 60vw;
        border-radius: 2px;
        border: none;
      }
    }
  }

  &__icon {
    background-color: transparent;
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
    border-left: 1px solid var(--color-gray-200);
    padding: 0 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray-500);
    @include mobile {
      & {
        color: #fff;
        font-size: 1.5rem;
        margin-right: 0.5rem;
      }
    }

    @include mobile {
      & {
        background-color: transparent;
        padding-right: 0;
      }
    }
  }
}
