.header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 3rem;

  margin: 2rem auto;
  &__logo {
    position: relative;
    max-width: 5rem;
    img {
      max-width: 100%;
    }
    span {
      position: absolute;
      top: -0.4rem;
      right: -1.2rem;
      font-size: 0.8rem;
    }
  }
}

header.header {
  margin: 2rem auto;
}
