@use "../../sass/mixins.scss" as *;
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 3rem;
  @include mobile {
    & {
      background-color: var(--color-primary);
      padding: 0.5rem;
      max-height: 4rem;
      justify-content: space-between;
    }
    &__searchbar {
      flex-grow: 2;
      margin-left: 1rem;
    }
  }

  margin: 2rem auto;
  &__logo {
    &-desktop {
      position: relative;
      width: 5rem;
      min-width: 5rem;
      img {
        max-width: 100%;
      }
      span {
        position: absolute;
        top: -0.4rem;
        right: -1.2rem;
        font-size: 0.8rem;
      }
      @include mobile {
        & {
          display: none;
        }
      }
    }
    &-mobile {
      display: none;
      @include mobile {
        & {
          width: 2rem;
          display: block;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

header.header {
  margin: 2rem auto;
  @include mobile {
    & {
      margin: 0.5rem auto;
    }
  }
}
