* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: auto;
}
:root {
  --color-gray-200: #dedede;
  --color-gray-500: #f8f8f8;
  --color-gray-800: #989898;
}
